Предлог — это служебная часть речи, выражающая зависимость существительного, числительного, местоимения от других слов в словосочетании, а значит, и в предложении.

Как отличать производные предлоги от существительных с предлогами.
Часто к производному предлогу нельзя задать вопрос, в отличии от существительного. Например: вследствие своих умений он справился с испытанием (здесь нельзя задать вопрос к слову "вследствие", вопрос "в чём?" не подойдет)
Когда предлоги пишутся слитно.
Предлоги пишутся слитно, когда образованы от существительного с непроизводным предлогом. Например: ввиду болезни не пошёл в школу (из-за болезни).
Когда предлоги пишутся раздельно.
Предлоги пишутся раздельно, когда относятся к существительному (часто к предмету). Например: в течении водоёма (здесь имеется ввиду само движение воды, поэтому на конце пишется окончание И).
Что такое непроизводный предлог.
Непроизводные предлоги — это служебные предлоги, которые не образованы от других частей речи. Например: в, над, под.
